[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=GUI Setup
Categories=Network;HamRadio
Comment=Configure the UWSDR GUI
Icon=GUISetup.png
Exec=/usr/bin/GUISetup
Path=.
Terminal=false
