[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=SDR Help
Categories=Network;HamRadio
Comment=The UWSDR Help program
Icon=SDRHelp.png
Exec=/usr/bin/SDRHelp
Path=.
Terminal=false
