[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=SDR Setup
Categories=Network;HamRadio
Comment=Configure the UWSDR hardware
Icon=SDRSetup.png
Exec=/usr/bin/SDRSetup
Path=.
Terminal=false
